target/
*.class
*.jar
*.war
*.ear
*.log
.idea/
*.iml
*.ipr
*.iws
.settings/
.classpath
.project
.nbproject/
nb-configuration.xml
.DS_Store

src/main/resources/firebase/*.json
src/main/resources/application-local.properties
nbactions.xml
