<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{general/fragmentos :: head}"></head>
    <body th:attr="data-reabrir-modal=${reabrirModal}">
        <header th:replace="~{general/fragmentos :: header}"></header>

        <section th:replace="~{proveedor/fragmentos :: agregar}"/>
        <section th:replace="~{proveedor/fragmentos :: listado}"/>
        <section th:replace="~{general/fragmentos :: confirmarEliminar(accion='/proveedor/eliminar', campoId='idProveedor')}"></section>
        <section th:replace="~{general/fragmentos :: mostrarToast}"></section>

        <footer th:replace="~{general/fragmentos :: footer}"></footer>

    </body>
</html>
